<% provide(:title, "") %>
<div class="col-md-6">
<div class="center jumbotron">
  <h1>Plnry</h1>

  <h2>
    Monitor legislative and regulatory activity across Europe in ONE place.
  </h2>
  
  <%= link_to "Join the waiting list now!", '#', class: "btn btn-lg btn-primary" %>
</div>
</div>
<div class='col-md-6'>
<div id="overlay">
  <%= image_tag("Overlay.png", alt: "Overlay")%>
</div>
</div>