<% provide(:title, "") %>


<div class="center jumbotron">
  <%= image_tag("logo.png", :alt => "logo") %>
  <h2 class="homepage">
    Monitor and analyse legislative activity across Europe.
  </h2>
  
  <%= link_to "Get access now!", signup_path, class: "btn btn-lg btn-primary" %>
  
  <p id="homepage">Questions? <%= mail_to "kylebuttner@gmail.com", "Leave us a note!" %></p>
</div>

