<% provide(:title, "Sign up") %>

<div class="container page">
  <h2 style="text-align: center">Tabled isn't quite ready yet.</h2>
  <h3 style="text-align: center">If you're interested in joining our beta programme, sign up below!</h3>
  <p style="text-align: center">Not loading? Try refreshing the page.</p>
    <script type="text/javascript">app_id="56a00b89905b109f38b303e8";distribution_key="dist_3";</script><script type="text/javascript" src="https://api.knackhq.com/56a00b89905b109f38b303e8/dist_3/knack.js"></script><div id="knack-dist_3">Loading...</div>
</div>
