@import "bootstrap-sprockets";
@import "bootstrap";

//navigation

.navbar-inverse {
  margin-top: 40px;
  background-color: transparent;
  border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
  font-family: "Old Standard TT";
  color: #fff;
  font-size: 24px;
  &:hover{
    color: #FFD0A4;
  }
}

#logo img {
  width: 50px;
  height: auto;
}

body {
  background-color: #06d8ff;
  overflow: hidden;
}

// .jumbotron {
//   padding-top: 200px;
// }

.container .jumbotron {
  background-color: transparent;
}

.jumbotron h1 {
  font-family: "Cabin";
  font-weight: bold;
  font-size: 90px;
  color: #000;
}

h2 {
  margin-top: 30px;
  font-family: "Old Standard TT";
  color: #fff
}

.btn-primary {
  background-color: #ff7c00;
  border-color: #ff7c00;
  font-family: "Old Standard TT";
  width: 78%;
  margin-top: 20px;
  &:hover {
    background-color: #fff;
    border-color: #ff7c00;
    color: #ff7c00;
  }
}

#overlay {
  position: absolute;
  float: right;
  margin-left: -100px;
  margin-top: -100px;
}

// push down content

#overall {
  margin-top: 200px;
}

//typography

h1 {
  color: #fff;
}

// make responsive

 /* Small Devices, Tablets */
    @media only screen and (max-width : 991px) {
      // body {
      //   background-image: image-url('Overlay.png');
      // }
      #overlay {
        margin-top: -600px;
        z-index: -1;
      }
      .container .jumbotron {
        background-color: rgba(6, 216, 255, .8);
      }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 768px) {
      nav {
        display: none;
      }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }