@import "bootstrap-sprockets";
@import "bootstrap";

//navigation

.navbar-inverse {
  margin-top: 40px;
  background-color: #06d8ff;
  border-color: #06d8ff;
}

.navbar-inverse .navbar-nav > li > a {
  font-family: "Old Standard TT";
  color: #fff;
  font-size: 24px;
  &:hover{
    color: #FFD0A4;
  }
}

#logo img {
  width: 50px;
  height: auto;
}

body {
  background-color: #06d8ff;
  overflow: hidden;
}

.jumbotron {
  padding-top: 200px;
}

.container .jumbotron {
  background-color: #06d8ff;
}

.jumbotron h1 {
  font-family: "Cabin";
  font-weight: bold;
  font-size: 90px;
  color: #000;
}

h2 {
  margin-top: 30px;
  font-family: "Old Standard TT";
  color: #fff
}

.btn-primary {
  background-color: #ff7c00;
  border-color: #ff7c00;
  font-family: "Old Standard TT";
  width: 78%;
  margin-top: 20px;
  &:hover {
    background-color: #fff;
    border-color: #ff7c00;
    color: #ff7c00;
  }
}

#overlay {
  position: absolute;
  padding-left: 500px;
  padding-top: 100px;
}