@import "bootstrap-sprockets";
@import "bootstrap";

//navigation

.navbar-inverse {
  margin-top: 40px;
  background-color: #FFD0A4;
  border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
  font-family: "Quicksand";
  color: #fff;
  font-size: 24px;
  &:hover{
    color: #FF7C00;
  }
}

#logo img {
  width: 175px;
  height: auto;
}

body {
  background-color: #06d8ff;
}

.home {
  overflow: hidden;
}

// .jumbotron {
//   padding-top: 200px;
// }

.jumbotron {
  background-color: transparent;
}

.center.jumbotron {
  text-align: center;
}

.jumbotron h1 {
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 100px;
  color: #000;
}

h2 .homepage{
  margin-top: 30px;
  font-family: "Quicksand";
  color: #fff
}

h2 {
  margin-top: 30px;
  font-family: "Quicksand";
  color: #000
}

.btn-primary {
  background-color: #ff7c00;
  border-color: #ff7c00;
  font-family: "Quicksand";
  width: 78%;
  margin-top: 20px;
  &:hover {
    background-color: #fff;
    border-color: #ff7c00;
    color: #ff7c00;
  }
}

#overlay {
  position: absolute;
  float: right;
  margin-left: -100px;
  margin-top: -100px;
  z-index: -1;
}

// push down content

#overall {
  margin-top: 150px;
}

//typography

h1 {
  color: #fff;
}

h3 {
  color: #000;
  font-family: "EB Garamond";
  font-size: 20px;
}

p #homepage{
  font-family: "EB Garamond";
  font-size: 10px;
  margin: 20px;
}

p {
  font-family: "EB Garamond";
  font-size: 15px;
  margin: 20px;
}


a {
  color: #D96A00;
  &:hover {
    color: #FF7C00;
  }
}


// make responsive

 /* Small Devices, Tablets */
    @media only screen and (max-width : 991px) {
      // body {
      //   background-image: image-url('Overlay.png');
      // }
      #overlay {
        margin-top: -600px;
        z-index: -1;
      }
      .container .jumbotron {
        background-color: rgba(6, 216, 255, .8);
      }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 768px) {
      nav {
        display: none;
      }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }
    
//features page

.page {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.feature_img {
  padding-top: 40px;
  display: block;
  margin: auto;
  width: 150px;
}

.page ul {
  font-family: "EB Garamond";
  font-size: 15px;
  margin: 20px;
}